/* purgecss start ignore */
@tailwind base;
@tailwind components;

.text-custom-orange {
  color: var(--orange);
}

.text-custom-yellow {
  color: var(--yellow);
}

.text-custom-purple {
  color: var(--purple);
}

.text-custom-blue {
  color: var(--blue);
}

.text-custom-gradient {
  background-color: var(--orange);
  background-image: linear-gradient(90deg, var(--orange), var(--yellow));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
/* purgecss end ignore */